body {
    font-family: sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 2rem;
}
