{% extends "base.html" %}

{% block title %}Title{% endblock %}

{% block content %}
    <h2>Title Suggester</h2>
    <form id="title-form">
        <label for="keywords">Enter keywords (comma-separated):</label><br>
        <input type="text" id="keywords" name="keywords" size="50"><br><br>
        <input type="submit" value="Generate Titles">
    </form>
    <div id="error-message" style="color: red;"></div>
    <div id="titles-output" class="content-cards"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/title-generator.js') }}"></script>
{% endblock %}
